fastapi
uvicorn[standard]
pydantic
python-multipart

flask
flask_cors

python-socketio
python-jose
passlib[bcrypt]
uuid

requests
aiohttp
peewee
bcrypt

langchain
langchain-community
chromadb
sentence_transformers
pypdf
docx2txt
unstructured
markdown

PyJWT
pyjwt[crypto]

black
transformers>=5.0.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability
