src/medinote/pipeline/pipeline_env/
**/*.pyc
**/*.log
**/*.wandb
wandb/
**/.nfs*
**/.env
**/*.log.*
**/*.jpg
**/*.png
**/*.pt



/datasets
test/config/credentials/*.json
**/.chainlit/

**/.venv/
**/model_config.yaml
**/node_modules/

