[submodule "src/FastChat"]
	path = src/FastChat
	url = https://github.com/foundation-models/FastChat.git
[submodule "src/langchain"]
	path = src/langchain
	url = https://github.com/foundation-models/langchain.git
[submodule "src/text-generation-webui"]
	path = src/text-generation-webui
	url = https://github.com/foundation-models/text-generation-webui.git
