[submodule "src/FastChat"]
	path = src/FastChat
	url = https://github.com/foundation-models/FastChat.git
[submodule "src/langchain"]
	path = src/langchain
	url = https://github.com/foundation-models/langchain.git
[submodule "src/text-generation-webui"]
	path = src/text-generation-webui
	url = https://github.com/foundation-models/text-generation-webui.git
[submodule "src/llama_index"]
	path = src/llama_index
	url = https://github.com/foundation-models/llama_index.git
[submodule "src/opencopilot"]
	path = src/opencopilot
	url = https://github.com/foundation-models/opencopilot.git
[submodule "ollama-webui"]
	path = src/ollama-webui
	url = https://github.com/foundation-models/ollama-webui.git
[submodule "webui/autogen"]
	path = src/autogen
	url = https://github.com/foundation-models/autogen.git
[submodule "src/django-chatgpt-chatbot"]
	path = src/django-chatgpt-chatbot
	url = https://github.com/foundation-models/django-chatgpt-chatbot.git
